Repository RosettaCommons/rosetta, pull requests merged in 2024-08, with the labels that each got.

#107 Fix compilation issue with SmartFixbbSimAnnealer.cc
  source/src/core/pack/annealer/SmartFixbbSimAnnealer.cc
Labels: ready_for_review, 00 build

#89 set_rmsd_type documentation in comments
  source/src/core/simple_metrics/metrics/RMSDMetric.hh
Labels: documentation, ready_for_review, 90 standard tests

#116 add rosetta.conda.release
  source/tools/build/basic.settings
  tests/benchmark/tests/__init__.py
  tests/benchmark/tests/release.py
Labels: 90 standard tests, 00 build

#131 add bindings for vector1<WaterBuilder> and test script
  source/src/core/scoring/lkball/LK_BallInfo.cc
  source/src/core/scoring/lkball/LK_BallInfo.hh
  source/src/python/PyRosetta/src/test/T150_core.misc.lkball.py
Labels: 03 PyRosetta

#128 Generate random keys for scattered data, and optionally delay results in PyRosettaCluster
  source/src/python/PyRosetta/src/pyrosetta/distributed/cluster/__init__.py
  source/src/python/PyRosetta/src/pyrosetta/distributed/cluster/core.py
  source/src/python/PyRosetta/src/pyrosetta/distributed/cluster/multiprocessing.py
  source/src/python/PyRosetta/src/pyrosetta/tests/distributed/cluster/test_smoke.py
Labels: bug, enhancement, ready_for_review, 03 PyRosetta, industry
