Repository RosettaCommons/rosetta, pull requests merged in 2024-05, with the labels that each got.

#58 Fix pre-compile script calls on Windows build
  source/cmake/make_project.py
Labels: ready_for_review, 70 windows, 90 standard tests

#24 Crosslinker Mover lanthionine
  database/chemical/residue_type_sets/centroid/patches/protein_centroid_with_HA.txt
  database/chemical/residue_type_sets/fa_standard/patches.txt
  database/chemical/residue_type_sets/fa_standard/patches/AcetylatedProteinNterm.txt
  database/chemical/residue_type_sets/fa_standard/patches/AcetylatedProteinNtermConnection.txt
  database/chemical/residue_type_sets/fa_standard/patches/N_acetylated.txt
  database/chemical/residue_type_sets/fa_standard/patches/Nterm2_Oxobutrylation.txt
  database/chemical/residue_type_sets/fa_standard/patches/NtermProteinFull.txt
  database/chemical/residue_type_sets/fa_standard/patches/NtermProteinMethylated.txt
  database/chemical/residue_type_sets/fa_standard/patches/branching/C-linked_conjugation.txt
  source/src/basic/options/options_rosetta.py
  source/src/core/chemical/residue_properties/variant_types.list
  source/src/core/scoring/constraints/AmbiguousNMRDistanceConstraint.cc
  source/src/core/scoring/constraints/AmbiguousNMRDistanceConstraint.hh
  source/src/protocols/cyclic_peptide/CrosslinkerMover.cc
  source/src/protocols/cyclic_peptide/CrosslinkerMover.hh
  source/src/protocols/cyclic_peptide/crosslinker/Lanthionine_Helper.cc
  source/src/protocols/cyclic_peptide/crosslinker/Lanthionine_Helper.fwd.hh
  source/src/protocols/cyclic_peptide/crosslinker/Lanthionine_Helper.hh
  source/src/protocols/cyclic_peptide/crosslinker/lanthionine_util.cc
  source/src/protocols/cyclic_peptide/crosslinker/lanthionine_util.hh
  source/src/protocols/cyclic_peptide_predict/SimpleCycpepPredictApplication.cc
  source/src/protocols/cyclic_peptide_predict/SimpleCycpepPredictApplication.hh
  source/src/protocols_a.6.src.settings
  source/test/core/scoring/constraints/AmbiguousNMRDistanceConstraint.cxxtest.hh
  tests/integration/tests/ambiguous_nmr_distance_constraint/command
  tests/integration/tests/ambiguous_nmr_distance_constraint/description.md
  tests/integration/tests/ambiguous_nmr_distance_constraint/flags
  tests/integration/tests/ambiguous_nmr_distance_constraint/inputs/6VLJ.cst
  tests/integration/tests/ambiguous_nmr_distance_constraint/inputs/6VLJ.pdb
  tests/integration/tests/ambiguous_nmr_distance_constraint/inputs/test.xml
  tests/integration/tests/ambiguous_nmr_distance_constraint/observers
  tests/integration/tests/crosslinkermover_lanthionine/command
  tests/integration/tests/crosslinkermover_lanthionine/description.md
  tests/integration/tests/crosslinkermover_lanthionine/flags
  tests/integration/tests/crosslinkermover_lanthionine/inputs/dummy.fasta
  tests/integration/tests/crosslinkermover_lanthionine/inputs/test.xml
  tests/integration/tests/crosslinkermover_lanthionine/observers
  tests/integration/tests/crosslinkermover_methyllanthionine/command
  tests/integration/tests/crosslinkermover_methyllanthionine/description.md
  tests/integration/tests/crosslinkermover_methyllanthionine/flags
  tests/integration/tests/crosslinkermover_methyllanthionine/inputs/DBR.params
  tests/integration/tests/crosslinkermover_methyllanthionine/inputs/DBS.params
  tests/integration/tests/crosslinkermover_methyllanthionine/inputs/dummy.fasta
  tests/integration/tests/crosslinkermover_methyllanthionine/inputs/test.xml
  tests/integration/tests/crosslinkermover_methyllanthionine/observers
  tests/integration/tests/dehydro_aa_patch/command
  tests/integration/tests/dehydro_aa_patch/description.md
  tests/integration/tests/dehydro_aa_patch/flags
  tests/integration/tests/dehydro_aa_patch/inputs/DBU.params
  tests/integration/tests/dehydro_aa_patch/inputs/DHA.params
  tests/integration/tests/dehydro_aa_patch/inputs/dummy.fasta
  tests/integration/tests/dehydro_aa_patch/inputs/test.xml
  tests/integration/tests/dehydro_aa_patch/observers
  tests/integration/tests/simple_cycpep_predict_lanthionine/README.md
  tests/integration/tests/simple_cycpep_predict_lanthionine/command
  tests/integration/tests/simple_cycpep_predict_lanthionine/command.mpi
  tests/integration/tests/simple_cycpep_predict_lanthionine/flags1
  tests/integration/tests/simple_cycpep_predict_lanthionine/flags1_mpi
  tests/integration/tests/simple_cycpep_predict_lanthionine/inputs/seq1.txt
  tests/integration/tests/simple_cycpep_predict_lanthionine/observers
Labels: ready_for_review, 90 standard tests

#55 Clean up integration tests for running on Python 3.12
  tests/integration/integration.py
  tests/integration/tests/auto-drrafter_final_results/command
  tests/integration/tests/auto-drrafter_setup_run_R1/command
  tests/integration/tests/auto-drrafter_setup_run_R2/command
  tests/integration/tests/auto-drrafter_setup_run_R3/command
  tests/integration/tests/code_template_tests_citations/command
  tests/integration/tests/dgdp_script/command
  tests/integration/tests/drrafter_setup/command
  tests/integration/tests/drrafter_setup_build_missing/command
  tests/integration/tests/drrafter_setup_protein_dock/command
  tests/integration/tests/drrafter_setup_real_test_H/command
  tests/integration/tests/drrafter_setup_real_test_H_no_init/command
  tests/integration/tests/drrafter_setup_ribosome_test/command
  tests/integration/tests/drrafter_setup_simple/command
  tests/integration/tests/hierarchical_clustering/command
  tests/integration/tests/mmtfIO_score_test/command
  tests/integration/tests/resource_database_locator/command
  tests/integration/tests/rosie_ligand_docking/command
  tests/integration/tests/sequence_profile_constraints/command
Labels: ready_for_review, 02 integration

#57 fixing util file names
  source/code_templates/generate_templates.py
Labels: bug, ready_for_review
