Repository RosettaCommons/rosetta, pull requests merged in 2025-06, with the labels that each got.

#434 Add support for various package versions in pyrosetta.distributed
  source/src/python/PyRosetta/src/pyrosetta/bindings/energies.py
  source/src/python/PyRosetta/src/pyrosetta/distributed/cluster/__init__.py
  source/src/python/PyRosetta/src/pyrosetta/distributed/cluster/config.py
  source/src/python/PyRosetta/src/pyrosetta/distributed/cluster/core.py
  source/src/python/PyRosetta/src/pyrosetta/distributed/cluster/tools.py
  source/src/python/PyRosetta/src/pyrosetta/distributed/cluster/utilities.py
  source/src/python/PyRosetta/src/pyrosetta/distributed/dask/__init__.py
  source/src/python/PyRosetta/src/pyrosetta/distributed/viewer/core.py
  source/src/python/PyRosetta/src/pyrosetta/distributed/viewer/modules.py
  source/src/python/PyRosetta/src/pyrosetta/tests/distributed/cluster/skip_cloudpickle_version.py
  source/src/python/PyRosetta/src/pyrosetta/tests/distributed/cluster/test_reproducibility.py
  source/src/python/PyRosetta/src/pyrosetta/tests/distributed/cluster/test_smoke.py
  source/src/python/PyRosetta/src/pyrosetta/tests/distributed/test_dask.py
  source/src/python/PyRosetta/src/pyrosetta/tests/distributed/test_viewer.py
  source/src/python/PyRosetta/src/pyrosetta/utility/__init__.py
  source/src/python/PyRosetta/src/test/T900_distributed.py
  tests/benchmark/tests/PyRosetta.py
  tests/benchmark/tests/__init__.py
  tests/benchmark/tests/release.py
Labels: bug, 03 PyRosetta, 91 release, industry, 92 release.conda

#432 Minor changes to PyRosetta logging messages
  source/src/python/PyRosetta/src/pyrosetta/__init__.py
  source/src/python/PyRosetta/src/pyrosetta/distributed/cluster/tools.py
Labels: ready_for_review, 03 PyRosetta, industry

#425 Updates to cryoEM ligand identification in GALigandDock
  source/src/protocols/ligand_docking/GALigandDock/GALigandDock.cc
Labels: 90 standard tests

#431 Enhance pyrosetta and pyrosetta.distributed I/O interfaces
  source/src/python/PyRosetta/src/pyrosetta/__init__.py
  source/src/python/PyRosetta/src/pyrosetta/distributed/io.py
  source/src/python/PyRosetta/src/pyrosetta/distributed/packed_pose/__init__.py
  source/src/python/PyRosetta/src/pyrosetta/distributed/packed_pose/core.py
  source/src/python/PyRosetta/src/pyrosetta/io/__init__.py
  source/src/python/PyRosetta/src/pyrosetta/tests/bindings/core/test_pose.py
  source/src/python/PyRosetta/src/pyrosetta/tests/distributed/test_smoke.py
  source/src/python/PyRosetta/src/test/T010_LoadPDB.py
Labels: enhancement, ready_for_review, 03 PyRosetta, industry
