Repository RosettaCommons/rosetta, pull requests merged in 2025-04, with the labels that each got.

#388 fix Mac RC release package
  source/tools/build/basic.settings
Labels: 90 standard tests, 91 release, 00 build

#392 Revold
  source/src/protocols/ligand_evolution/WorkManager.cc
Labels: ready_for_review, 02 integration, 03 PyRosetta, 40 machine learning, 90 standard tests

#375 Fix import of load_ligand.py
  source/src/python/PyRosetta/src/pyrosetta/toolbox/load_ligand.py
Labels: ready_for_review, 03 PyRosetta

#336 Unfolded state tlc bugfix
  source/src/protocols/unfolded_state_energy_calculator/UnfoldedStateEnergyCalculatorMPIWorkPoolJobDistributor.cc
Labels: ready_for_review, 90 standard tests
